body {
    padding: 20px 60px; /* 위/아래, 왼쪽/오른쪽에 20px의 패딩을 추가합니다 */
}

/* 제목 1 */
h1 {
    font-size: 70px;
    text-align: center;
}

/* 제목 2 */
h2 {
    font-size: 60px;
}

/* 제목 3 */
h3 {
    font-size: 55px;
}

/* 제목 4 */
h4 {
    font-size: 50px;
}

/* 해설 */
.exp {
    font-family: inherit;
    color: black;
    background-color: rgb(231, 230, 230);
    font-size: 40px;
}

/* 영어 문장 */
.audioText {
    transition: background-color 0.3s, color 0.3s; /* 애니메이션 효과를 부드럽게 적용하기 위한 설정 */
    font-family: Open Sans;
    color: rgb(0, 112, 192);
    font-size: 45px;
}

.audioText:hover {
    /* 원하는 마우스 커서 스타일을 설정하세요 */
    cursor: pointer;
    /* 마우스를 올렸을 때의 배경색 */
    background-color: rgb(0, 112, 192);
    /* 마우스를 올렸을 때의 글자색 */
    color: rgb(255, 255, 255);
}

/* 해석 */
.kor {
    color: rgb(56, 56, 56);
    font-size: 40px;
}

/* 링크 스타일 */
a {
    display: block;
    font-size: 50px;
    color: rgb(0, 0, 0); /* 기본 글자색 */
    background-color: white; /* 기본 배경색 */
    text-decoration-line: none;
}

/* 링크에 마우스를 올렸을 때 스타일 */
a:hover {
    background-color: rgb(0, 112, 192); /* 변경된 배경색 */
    color: rgb(255, 255, 255); /* 변경된 글자색 */
}

/* 가로줄 */
hr {
    margin: 40px 0px;
    border: none;
    height: 10px;
    background-color: blue;
}
